Question-1/src/example.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="wml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="template">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="do">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="go">
                      <xs:complexType>
                        <xs:attribute name="href" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="label" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="card">
          <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
              <xs:element name="p">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="br" />
                      <xs:element name="anchor">
                        <xs:complexType mixed="true">
                          <xs:sequence>
                            <xs:element name="go">
                              <xs:complexType>
                                <xs:attribute name="href" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="title" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>